fastapi
uvicorn[standard]
sqlalchemy
asyncpg
psycopg2-binary
pymongo
redis
aiokafka
python-dotenv
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
pydantic-settings
email-validator
motor
alembic
cloudinary
python-multipart
stripe
openpyxl
reportlab

# Testing
pytest
pytest-asyncio
httpx
aiosqlite
aio-pika
qrcode[pil]
